.DS_Store
.idea
*.vcd
*.fst
*.fst.hier
runs
tt_submission
src/user_config.json
src/config_merged.json
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v



# Claude and other ai tools
.claude/*
CLAUDE.md
AGENTS.md
# Local python env
.venv/
